#### Loading the libraries

In [1]:
import pandas as pd

In [2]:
df_imdb=pd.read_csv('../../datasets/IMDB_Movie_Sorting.csv')
df_imdb.head(3)

                                 movie_title  imdb_score  title_year
0                                  Avatar \t         7.9      2009.0
1  Pirates of the Caribbean: At World's End          7.1      2007.0
2                                   Spectre          6.8      2015.0

# Ten hightest score movie

In [3]:
df_imdb.sort_values('imdb_score', ascending=False).head(10)

                                         movie_title  imdb_score  title_year
2765                   Towering Inferno                      9.5         NaN
1937                       The Shawshank Redemption          9.3      1994.0
3466                                  The Godfather          9.2      1972.0
4409                           Kickboxer: Vengeance          9.1      2016.0
2824                            Dekalog                      9.1         NaN
3207                            Dekalog                      9.1         NaN
66                                  The Dark Knight          9.0      2008.0
2837                         The Godfather: Part II          9.0      1974.0
3481                              Fargo                      9.0         NaN
339   The Lord of the Rings: The Return of the King          8.9      2003.0

In [4]:
df_imdb.head()

                                         movie_title  imdb_score  title_year
0                                          Avatar \t         7.9      2009.0
1          Pirates of the Caribbean: At World's End          7.1      2007.0
2                                           Spectre          6.8      2015.0
3                             The Dark Knight Rises          8.5      2012.0
4  Star Wars: Episode VII - The Force Awakens    ...         7.1         NaN

In [5]:
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()

                                         movie_title  imdb_score  title_year
0                                          Avatar \t         7.9      2009.0
1          Pirates of the Caribbean: At World's End          7.1      2007.0
2                                           Spectre          6.8      2015.0
3                             The Dark Knight Rises          8.5      2012.0
4  Star Wars: Episode VII - The Force Awakens    ...         7.1         NaN

In [6]:
# explain inplace parameter
# inplace will make change right inside dataframe so do not need another frame to store data after sort
df_imdb.sort_values(by=['imdb_score'], ascending=False, inplace=True)

In [7]:
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()

                        movie_title  imdb_score  title_year
2765  Towering Inferno                      9.5         NaN
1937      The Shawshank Redemption          9.3      1994.0
3466                 The Godfather          9.2      1972.0
4409          Kickboxer: Vengeance          9.1      2016.0
2824           Dekalog                      9.1         NaN

In [8]:
# explain ascending parameter
# default value for ascending is True
# sorted with a list of column
df_imdb.sort_values(by=['title_year','imdb_score'], ascending=False).head(10)

                       movie_title  imdb_score  title_year
4409         Kickboxer: Vengeance          9.1      2016.0
4372  A Beginner's Guide to Snuff          8.7      2016.0
3870                      Airlift          8.5      2016.0
98            Godzilla Resurgence          8.2      2016.0
204           Godzilla Resurgence          8.2      2016.0
27     Captain America: Civil War          8.2      2016.0
812                      Deadpool          8.1      2016.0
3429                   Mr. Church          8.0      2016.0
1196              The Conjuring 2          7.8      2016.0
3373                        Kicks          7.8      2016.0

In [9]:
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()

                        movie_title  imdb_score  title_year
2765  Towering Inferno                      9.5         NaN
1937      The Shawshank Redemption          9.3      1994.0
3466                 The Godfather          9.2      1972.0
4409          Kickboxer: Vengeance          9.1      2016.0
2824           Dekalog                      9.1         NaN