#### Loading libraries & dataset

In [1]:
import pandas as pd 
df_imdb = pd.read_csv('../../datasets/IMDB_Movie_Facebook_Like.csv')
df_imdb

       director_name             movie_title  movie_facebook_likes
0  Christopher Nolan        The Dark Knight                  37000
1      James Cameron                 Avatar                  33000
2  Quentin Tarantino       Django Unchained                 199000
3  Christopher Nolan  The Dark Knight Rises                 164000
4  Quentin Tarantino   Inglourious Basterds                  42000
5      James Cameron                Titanic                  26000

### Find director with most social network facebook likes

#### groupby on column director_name

In [2]:
df_imdb.groupby('director_name')

#### apply the sum function

In [3]:
df_imdb.groupby('director_name').sum()

                   movie_facebook_likes
director_name
Christopher Nolan                201000
James Cameron                     59000
Quentin Tarantino                241000

#### sort follow facebook likes and find director with most social network facebook

In [4]:
df_imdb.groupby('director_name').sum().sort_values(by='movie_facebook_likes')

                   movie_facebook_likes
director_name
James Cameron                     59000
Christopher Nolan                201000
Quentin Tarantino                241000