In [1]:
import datetime

In [2]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [3]:
print("datetime.MAXYEAR:", datetime.MAXYEAR)
print("datetime.MINYEAR:", datetime.MINYEAR)

datetime.MAXYEAR: 9999
datetime.MINYEAR: 1

In [4]:
print(f"{datetime.datetime.min        =}")
print(f"{datetime.datetime.max        =}")
print(f"{datetime.datetime.resolution =}")

datetime.datetime.min        =datetime.datetime(1, 1, 1, 0, 0)
datetime.datetime.max        =datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
datetime.datetime.resolution =datetime.timedelta(microseconds=1)

In [5]:
print(f"{datetime.date.min            =}")
print(f"{datetime.date.max            =}")
print(f"{datetime.date.resolution     =}")

datetime.date.min            =datetime.date(1, 1, 1)
datetime.date.max            =datetime.date(9999, 12, 31)
datetime.date.resolution     =datetime.timedelta(days=1)

In [6]:
print(f"{datetime.time.min            =}")
print(f"{datetime.time.max            =}")
print(f"{datetime.time.resolution     =}")

datetime.time.min            =datetime.time(0, 0)
datetime.time.max            =datetime.time(23, 59, 59, 999999)
datetime.time.resolution     =datetime.timedelta(microseconds=1)

In [7]:
print("datetime.tzinfo:", datetime.tzinfo)

datetime.tzinfo: <class 'datetime.tzinfo'>

In [8]:
datetime.tzinfo()

```
datetime  has three different kinds of objects:
    1. date object      :- stores the date 
    2. time object      :- stores the time 
    3. datetime object  :- stores both the date and time 
```

In [9]:
now = datetime.datetime.now()
print("now                      :", now)
print("type(now)                :", type(now))

now                      : 2023-05-20 17:30:44.664196
type(now)                : <class 'datetime.datetime'>

In [10]:
today = now.date()
print("today                    :", today)
print("type(today)              :", type(today))

today                    : 2023-05-20
type(today)              : <class 'datetime.date'>

In [11]:
moment = now.time()
print("moment                   :", moment)
print("type(moment)             :", type(moment))

moment                   : 17:30:44.664196
type(moment)             : <class 'datetime.time'>

In [12]:
now_using_combine = datetime.datetime.combine(today, moment)
print("now_using_combine        :", now_using_combine)
print("type(now_using_combine)  :", type(now_using_combine))

now_using_combine        : 2023-05-20 17:30:44.664196
type(now_using_combine)  : <class 'datetime.datetime'>

In [13]:
yesterday = today - datetime.timedelta(days=1)
print("yesterday                :", yesterday)
print("type(yesterday)          :", type(yesterday))

yesterday                : 2023-05-19
type(yesterday)          : <class 'datetime.date'>

In [14]:
# Getting the difference between two datetime objects
time_difference = yesterday - today
print("time_difference          :", time_difference)
print("type(time_difference)    :", type(time_difference))

time_difference          : -1 day, 0:00:00
type(time_difference)    : <class 'datetime.timedelta'>

In [15]:
# date object has three mandatory arguments
my_date = datetime.date(1947, 8, 15)  # order YEAR, MONTH, DAY
print("my_date                  :", my_date)
print("type(my_date)            :", type(my_date))

my_date                  : 1947-08-15
type(my_date)            : <class 'datetime.date'>

In [16]:
my_date = datetime.date(
    day=15, year=1947, month=8
)  # order can be changed using keyword args
print("my_date                  :", my_date)
print("type(my_date)            :", type(my_date))

my_date                  : 1947-08-15
type(my_date)            : <class 'datetime.date'>

In [17]:
# time object don't have mandatory arguments
my_time = datetime.time()
print("my_time                  :", my_time)
print("type(my_time)            :", type(my_time))

my_time                  : 00:00:00
type(my_time)            : <class 'datetime.time'>

In [18]:
my_time = datetime.time(0, 0)  # first argument hour, minute, second
print("my_time                  :", my_time)
print("type(my_time)            :", type(my_time))

my_time                  : 00:00:00
type(my_time)            : <class 'datetime.time'>

In [19]:
my_time = datetime.time(hour=0, minute=0)
print("my_time                  :", my_time)
print("type(my_time)            :", type(my_time))

my_time                  : 00:00:00
type(my_time)            : <class 'datetime.time'>

In [20]:
# datetime objects have the same mandatory arguments as date object
my_datetime = datetime.datetime(year=1984, month=6, day=24)  # Time is set to 0:00
print("my_datetime              :", my_datetime)
print("type(my_datetime)        :", type(my_datetime))

my_datetime              : 1984-06-24 00:00:00
type(my_datetime)        : <class 'datetime.datetime'>

In [21]:
my_datetime = datetime.datetime(1984, 6, 24, 18, 30)
print("my_datetime              :", my_datetime)
print("type(my_datetime)        :", type(my_datetime))

my_datetime              : 1984-06-24 18:30:00
type(my_datetime)        : <class 'datetime.datetime'>

In [22]:
my_datetime = datetime.datetime(year=1984, month=6, day=24, hour=18, minute=30)
print("my_datetime              :", my_datetime)
print("type(my_datetime)        :", type(my_datetime))

my_datetime              : 1984-06-24 18:30:00
type(my_datetime)        : <class 'datetime.datetime'>

In [23]:
# Change one datetime object to obtain another using the replace method
another_datetime = my_datetime.replace(year=2019, month=1)
print("another_datetime         :", another_datetime)
print("type(another_datetime)   :", type(another_datetime))

another_datetime         : 2019-01-24 18:30:00
type(another_datetime)   : <class 'datetime.datetime'>

In [24]:
# Obtain a datetime object representing the epoch: 1st Jan, 1970
epoch = datetime.datetime.utcfromtimestamp(0)
print("epoch                    :", epoch)
print("type(epoch)              :", type(epoch))

epoch                    : 1970-01-01 00:00:00
type(epoch)              : <class 'datetime.datetime'>

In [25]:
# Obtain difference between epoch time and now
delta = now - epoch
print("now - epoch              :", delta)

now - epoch              : 19497 days, 17:30:44.664196

In [26]:
days = delta.days
print("(now - epoch) diff days  :", days)

(now - epoch) diff days  : 19497

In [27]:
seconds = delta.seconds
print("(now - epoch) diff secs  :", seconds)

(now - epoch) diff secs  : 63044

In [28]:
total_seconds = delta.total_seconds()
print("(now - epoch)total_seconds:", total_seconds)

(now - epoch)total_seconds: 1684603844.664196

In [29]:
print(datetime.datetime.utcfromtimestamp(1653498893.798626))

2022-05-25 17:14:53.798626

In [30]:
print(datetime.datetime.utcfromtimestamp(158493))

1970-01-02 20:01:33

### Time Information

In [31]:
local_now = datetime.datetime.now()
print("local now: {}".format(local_now))

local now: 2023-05-20 17:30:48.066187

In [32]:
utc_now = datetime.datetime.utcnow()
print("utc now  : {}".format(utc_now))

utc now  : 2023-05-20 17:30:48.222403

In [33]:
# You can access any value separately:
print(
    "{} {} {} {} {} {}".format(
        local_now.year,
        local_now.month,
        local_now.day,
        local_now.hour,
        local_now.minute,
        local_now.second,
    )
)

print("date: {}".format(local_now.date()))
print("time: {}".format(local_now.time()))

2023 5 20 17 30 48
date: 2023-05-20
time: 17:30:48.066187

    datetime.strftime - For string formatting the datetime
    For more datetime related string formatters, go to http://strftime.org/

In [34]:
local_now.strftime("%Y/%m/%d-%H:%M:%S")

'2023/05/20-17:30:48'

In [35]:
local_now.strftime("%y/%m/%d-%H:%M:%S")

'23/05/20-17:30:48'

In [36]:
local_now.strftime("%y %B %d-%H:%M:%S")

'23 May 20-17:30:48'

In [37]:
local_now.strftime("%Y %b %d - %I:%M:%S %p")

'2023 May 20 - 05:30:48 PM'

In [38]:
local_now.strftime("%Y %b %d %I:%M:%S %p %z")

'2023 May 20 05:30:48 PM '

In [39]:
formatted2 = local_now.strftime("Today is : %d %b,%Y time:%H:%M:%S")
print("formatted2", formatted2)

formatted2 Today is : 20 May,2023 time:17:30:48

#### datetime.strptime() - For converting a datetime string into a datetime object

In [40]:
my_dt = datetime.datetime.strptime("2019-01-01 16:00:00", "%Y-%m-%d %H:%M:%S")
print(f"my_dt      :{my_dt} \ntype(my_dt):{type(my_dt)}")

my_dt      :2019-01-01 16:00:00
type(my_dt):<class 'datetime.datetime'>

In [41]:
datetime.datetime.strptime("8 April 1945", "%d %B %Y")

datetime.datetime(1945, 4, 8, 0, 0)

#### datetime.timedelta - For working with time difference.

In [42]:
local_now + datetime.timedelta(days=23, minutes=34)

datetime.datetime(2023, 6, 12, 18, 4, 48, 66187)

In [43]:
tomorrow = local_now + datetime.timedelta(days=20)
print("tomorrow this time: {}".format(tomorrow))

tomorrow this time: 2023-06-09 17:30:48.066187

In [44]:
delta = tomorrow - local_now
print(f"tomorrow - now : {delta}")
print(f"days           : {delta.days}")
print(f"seconds        : {delta.seconds}")
print(f"total seconds  : {delta.total_seconds()}")

tomorrow - now : 20 days, 0:00:00
days           : 20
seconds        : 0
total seconds  : 1728000.0

### Working with time zones
    pip install -U pytz --user

In [45]:
!pip install -U pytz

Requirement already satisfied: pytz in /home/codespace/.local/lib/python3.10/site-packages (2023.3)

In [46]:
import pytz

In [47]:
naive_utc_now = datetime.datetime.utcnow()
print(f"naive utc now       : {naive_utc_now}")
print(f"tzinfo              : {naive_utc_now.tzinfo}")

naive utc now       : 2023-05-20 17:30:53.179498
tzinfo              : None

In [48]:
# Localizing naive datetimes
UTC_TZ = pytz.timezone("UTC")

In [49]:
utc_now = UTC_TZ.localize(naive_utc_now)
print(f"utc now             : {utc_now}")
print(f"tzinfo              : {utc_now.tzinfo}")

utc now             : 2023-05-20 17:30:53.179498+00:00
tzinfo              : UTC

In [50]:
# Converting localized datetimes to different timezone
PARIS_TZ = pytz.timezone("Europe/Paris")

In [51]:
paris_now = PARIS_TZ.normalize(utc_now)  # localize vs normalize
print(f"Paris now           : {paris_now}")
print(f"tzinfo              : {paris_now.tzinfo}")

Paris now           : 2023-05-20 19:30:53.179498+02:00
tzinfo              : Europe/Paris

In [52]:
NEW_YORK_TZ = pytz.timezone("America/New_York")
ny_now = NEW_YORK_TZ.normalize(utc_now)

print(f"New York now        : {ny_now}")
print(f"tzinfo              : {ny_now.tzinfo}")

New York now        : 2023-05-20 13:30:53.179498-04:00
tzinfo              : America/New_York

In [53]:
LOS_ANGELES_TZ = pytz.timezone("America/Los_Angeles")
la_now = LOS_ANGELES_TZ.normalize(utc_now)

print(f"Los Angeles now     : {la_now}")
print(f"tzinfo              : {la_now.tzinfo}")

Los Angeles now     : 2023-05-20 10:30:53.179498-07:00
tzinfo              : America/Los_Angeles

In [54]:
for index, tz in enumerate(pytz.all_timezones):
    if index % 4 == 0:
        print()
    print(tz, end="\t\t")

Africa/Abidjan		Africa/Accra		Africa/Addis_Ababa		Africa/Algiers
Africa/Asmara		Africa/Asmera		Africa/Bamako		Africa/Bangui
Africa/Banjul		Africa/Bissau		Africa/Blantyre		Africa/Brazzaville
Africa/Bujumbura		Africa/Cairo		Africa/Casablanca		Africa/Ceuta
Africa/Conakry		Africa/Dakar		Africa/Dar_es_Salaam		Africa/Djibouti
Africa/Douala		Africa/El_Aaiun		Africa/Freetown		Africa/Gaborone
Africa/Harare		Africa/Johannesburg		Africa/Juba		Africa/Kampala
Africa/Khartoum		Africa/Kigali		Africa/Kinshasa		Africa/Lagos
Africa/Libreville		Africa/Lome		Africa/Luanda		Africa/Lubumbashi
Africa/Lusaka		Africa/Malabo		Africa/Maputo		Africa/Maseru
Africa/Mbabane		Africa/Mogadishu		Africa/Monrovia		Africa/Nairobi
Africa/Ndjamena		Africa/Niamey		Africa/Nouakchott		Africa/Ouagadougou
Africa/Porto-Novo		Africa/Sao_Tome		Africa/Timbuktu		Africa/Tripoli
Africa/Tunis		Africa/Windhoek		America/Adak		America/Anchorage
America/Anguilla		America/Antigua		America/Araguaina		America/Argentina/Buenos_Aires
America/Argentina/Catamarca		America/Argentina/ComodRivadavia		America/Argentina/Cordoba		America/Argentina/Jujuy
America/Argentina/La_Rioja		America/Argentina/Mendoza		America/Argentina/Rio_Gallegos		America/Argentina/Salta
America/Argentina/San_Juan		America/Argentina/San_Luis		America/Argentina/Tucuman		America/Argentina/Ushuaia
America/Aruba		America/Asuncion		America/Atikokan		America/Atka
America/Bahia		America/Bahia_Banderas		America/Barbados		America/Belem
America/Belize		America/Blanc-Sablon		America/Boa_Vista		America/Bogota
America/Boise		America/Buenos_Aires		America/Cambridge_Bay		America/Campo_Grande
America/Cancun		America/Caracas		America/Catamarca		America/Cayenne
America/Cayman		America/Chicago		America/Chihuahua		America/Ciudad_Juarez
America/Coral_Harbour		America/Cordoba		America/Costa_Rica		America/Creston
America/Cuiaba		America/Curacao		America/Danmarkshavn		America/Dawson
America/Dawson_Creek		America/Denver		America/Detroit		America/Dominica
America/Edmonton		America/Eirunepe		America/El_Salvador		America/Ensenada
America/Fort_Nelson		America/Fort_Wayne		America/Fortaleza		America/Glace_Bay
America/Godthab		America/Goose_Bay		America/Grand_Turk		America/Grenada
America/Guadeloupe		America/Guatemala		America/Guayaquil		America/Guyana
America/Halifax		America/Havana		America/Hermosillo		America/Indiana/Indianapolis
America/Indiana/Knox		America/Indiana/Marengo		America/Indiana/Petersburg		America/Indiana/Tell_City
America/Indiana/Vevay		America/Indiana/Vincennes		America/Indiana/Winamac		America/Indianapolis
America/Inuvik		America/Iqaluit		America/Jamaica		America/Jujuy
America/Juneau		America/Kentucky/Louisville		America/Kentucky/Monticello		America/Knox_IN
America/Kralendijk		America/La_Paz		America/Lima		America/Los_Angeles
America/Louisville		America/Lower_Princes		America/Maceio		America/Managua
America/Manaus		America/Marigot		America/Martinique		America/Matamoros
America/Mazatlan		America/Mendoza		America/Menominee		America/Merida
America/Metlakatla		America/Mexico_City		America/Miquelon		America/Moncton
America/Monterrey		America/Montevideo		America/Montreal		America/Montserrat
America/Nassau		America/New_York		America/Nipigon		America/Nome
America/Noronha		America/North_Dakota/Beulah		America/North_Dakota/Center		America/North_Dakota/New_Salem
America/Nuuk		America/Ojinaga		America/Panama		America/Pangnirtung
America/Paramaribo		America/Phoenix		America/Port-au-Prince		America/Port_of_Spain
America/Porto_Acre		America/Porto_Velho		America/Puerto_Rico		America/Punta_Arenas
America/Rainy_River		America/Rankin_Inlet		America/Recife		America/Regina
America/Resolute		America/Rio_Branco		America/Rosario		America/Santa_Isabel
America/Santarem		America/Santiago		America/Santo_Domingo		America/Sao_Paulo
America/Scoresbysund		America/Shiprock		America/Sitka		America/St_Barthelemy
America/St_Johns		America/St_Kitts		America/St_Lucia		America/St_Thomas
America/St_Vincent		America/Swift_Current		America/Tegucigalpa		America/Thule
America/Thunder_Bay		America/Tijuana		America/Toronto		America/Tortola
America/Vancouver		America/Virgin		America/Whitehorse		America/Winnipeg
America/Yakutat		America/Yellowknife		Antarctica/Casey		Antarctica/Davis
Antarctica/DumontDUrville		Antarctica/Macquarie		Antarctica/Mawson		Antarctica/McMurdo
Antarctica/Palmer		Antarctica/Rothera		Antarctica/South_Pole		Antarctica/Syowa
Antarctica/Troll		Antarctica/Vostok		Arctic/Longyearbyen		Asia/Aden
Asia/Almaty		Asia/Amman		Asia/Anadyr		Asia/Aqtau
Asia/Aqtobe		Asia/Ashgabat		Asia/Ashkhabad		Asia/Atyrau
Asia/Baghdad		Asia/Bahrain		Asia/Baku		Asia/Bangkok
Asia/Barnaul		Asia/Beirut		Asia/Bishkek		Asia/Brunei
Asia/Calcutta		Asia/Chita		Asia/Choibalsan		Asia/Chongqing
Asia/Chungking		Asia/Colombo		Asia/Dacca		Asia/Damascus
Asia/Dhaka		Asia/Dili		Asia/Dubai		Asia/Dushanbe
Asia/Famagusta		Asia/Gaza		Asia/Harbin		Asia/Hebron
Asia/Ho_Chi_Minh		Asia/Hong_Kong		Asia/Hovd		Asia/Irkutsk
Asia/Istanbul		Asia/Jakarta		Asia/Jayapura		Asia/Jerusalem
Asia/Kabul		Asia/Kamchatka		Asia/Karachi		Asia/Kashgar
Asia/Kathmandu		Asia/Katmandu		Asia/Khandyga		Asia/Kolkata
Asia/Krasnoyarsk		Asia/Kuala_Lumpur		Asia/Kuching		Asia/Kuwait
Asia/Macao		Asia/Macau		Asia/Magadan		Asia/Makassar
Asia/Manila		Asia/Muscat		Asia/Nicosia		Asia/Novokuznetsk
Asia/Novosibirsk		Asia/Omsk		Asia/Oral		Asia/Phnom_Penh
Asia/Pontianak		Asia/Pyongyang		Asia/Qatar		Asia/Qostanay
Asia/Qyzylorda		Asia/Rangoon		Asia/Riyadh		Asia/Saigon
Asia/Sakhalin		Asia/Samarkand		Asia/Seoul		Asia/Shanghai
Asia/Singapore		Asia/Srednekolymsk		Asia/Taipei		Asia/Tashkent
Asia/Tbilisi		Asia/Tehran		Asia/Tel_Aviv		Asia/Thimbu
Asia/Thimphu		Asia/Tokyo		Asia/Tomsk		Asia/Ujung_Pandang
Asia/Ulaanbaatar		Asia/Ulan_Bator		Asia/Urumqi		Asia/Ust-Nera
Asia/Vientiane		Asia/Vladivostok		Asia/Yakutsk		Asia/Yangon
Asia/Yekaterinburg		Asia/Yerevan		Atlantic/Azores		Atlantic/Bermuda
Atlantic/Canary		Atlantic/Cape_Verde		Atlantic/Faeroe		Atlantic/Faroe
Atlantic/Jan_Mayen		Atlantic/Madeira		Atlantic/Reykjavik		Atlantic/South_Georgia
Atlantic/St_Helena		Atlantic/Stanley		Australia/ACT		Australia/Adelaide
Australia/Brisbane		Australia/Broken_Hill		Australia/Canberra		Australia/Currie
Australia/Darwin		Australia/Eucla		Australia/Hobart		Australia/LHI
Australia/Lindeman		Australia/Lord_Howe		Australia/Melbourne		Australia/NSW
Australia/North		Australia/Perth		Australia/Queensland		Australia/South
Australia/Sydney		Australia/Tasmania		Australia/Victoria		Australia/West
Australia/Yancowinna		Brazil/Acre		Brazil/DeNoronha		Brazil/East
Brazil/West		CET		CST6CDT		Canada/Atlantic
Canada/Central		Canada/Eastern		Canada/Mountain		Canada/Newfoundland
Canada/Pacific		Canada/Saskatchewan		Canada/Yukon		Chile/Continental
Chile/EasterIsland		Cuba		EET		EST
EST5EDT		Egypt		Eire		Etc/GMT
Etc/GMT+0		Etc/GMT+1		Etc/GMT+10		Etc/GMT+11
Etc/GMT+12		Etc/GMT+2		Etc/GMT+3		Etc/GMT+4
Etc/GMT+5		Etc/GMT+6		Etc/GMT+7		Etc/GMT+8
Etc/GMT+9		Etc/GMT-0		Etc/GMT-1		Etc/GMT-10
Etc/GMT-11		Etc/GMT-12		Etc/GMT-13		Etc/GMT-14
Etc/GMT-2		Etc/GMT-3		Etc/GMT-4		Etc/GMT-5
Etc/GMT-6		Etc/GMT-7		Etc/GMT-8		Etc/GMT-9
Etc/GMT0		Etc/Greenwich		Etc/UCT		Etc/UTC
Etc/Universal		Etc/Zulu		Europe/Amsterdam		Europe/Andorra
Europe/Astrakhan		Europe/Athens		Europe/Belfast		Europe/Belgrade
Europe/Berlin		Europe/Bratislava		Europe/Brussels		Europe/Bucharest
Europe/Budapest		Europe/Busingen		Europe/Chisinau		Europe/Copenhagen
Europe/Dublin		Europe/Gibraltar		Europe/Guernsey		Europe/Helsinki
Europe/Isle_of_Man		Europe/Istanbul		Europe/Jersey		Europe/Kaliningrad
Europe/Kiev		Europe/Kirov		Europe/Kyiv		Europe/Lisbon
Europe/Ljubljana		Europe/London		Europe/Luxembourg		Europe/Madrid
Europe/Malta		Europe/Mariehamn		Europe/Minsk		Europe/Monaco
Europe/Moscow		Europe/Nicosia		Europe/Oslo		Europe/Paris
Europe/Podgorica		Europe/Prague		Europe/Riga		Europe/Rome
Europe/Samara		Europe/San_Marino		Europe/Sarajevo		Europe/Saratov
Europe/Simferopol		Europe/Skopje		Europe/Sofia		Europe/Stockholm
Europe/Tallinn		Europe/Tirane		Europe/Tiraspol		Europe/Ulyanovsk
Europe/Uzhgorod		Europe/Vaduz		Europe/Vatican		Europe/Vienna
Europe/Vilnius		Europe/Volgograd		Europe/Warsaw		Europe/Zagreb
Europe/Zaporozhye		Europe/Zurich		GB		GB-Eire
GMT		GMT+0		GMT-0		GMT0
Greenwich		HST		Hongkong		Iceland
Indian/Antananarivo		Indian/Chagos		Indian/Christmas		Indian/Cocos
Indian/Comoro		Indian/Kerguelen		Indian/Mahe		Indian/Maldives
Indian/Mauritius		Indian/Mayotte		Indian/Reunion		Iran
Israel		Jamaica		Japan		Kwajalein
Libya		MET		MST		MST7MDT
Mexico/BajaNorte		Mexico/BajaSur		Mexico/General		NZ
NZ-CHAT		Navajo		PRC		PST8PDT
Pacific/Apia		Pacific/Auckland		Pacific/Bougainville		Pacific/Chatham
Pacific/Chuuk		Pacific/Easter		Pacific/Efate		Pacific/Enderbury
Pacific/Fakaofo		Pacific/Fiji		Pacific/Funafuti		Pacific/Galapagos
Pacific/Gambier		Pacific/Guadalcanal		Pacific/Guam		Pacific/Honolulu
Pacific/Johnston		Pacific/Kanton		Pacific/Kiritimati		Pacific/Kosrae
Pacific/Kwajalein		Pacific/Majuro		Pacific/Marquesas		Pacific/Midway
Pacific/Nauru		Pacific/Niue		Pacific/Norfolk		Pacific/Noumea
Pacific/Pago_Pago		Pacific/Palau		Pacific/Pitcairn		Pacific/Pohnpei
Pacific/Ponape		Pacific/Port_Moresby		Pacific/Rarotonga		Pacific/Saipan
Pacific/Samoa		Pacific/Tahiti		Pacific/Tarawa		Pacific/Tongatapu
Pacific/Truk		Pacific/Wake		Pacific/Wallis		Pacific/Yap
Poland		Portugal		ROC		ROK
Singapore		Turkey		UCT		US/Alaska
US/Aleutian		US/Arizona		US/Central		US/East-Indiana
US/Eastern		US/Hawaii		US/Indiana-Starke		US/Michigan
US/Mountain		US/Pacific		US/Samoa		UTC
Universal		W-SU		WET		Zulu

In [55]:
IST_TZ = pytz.timezone("Asia/Kolkata")
ist_now = IST_TZ.normalize(utc_now)

print(f"India now           : {ist_now}")
print(f"tzinfo              : {ist_now.tzinfo}")

India now           : 2023-05-20 23:00:53.179498+05:30
tzinfo              : Asia/Kolkata

In [56]:
len(pytz.all_timezones)

596

In [57]:
len(pytz.common_timezones)

433

In [58]:
# Method 1
kiev_tz = pytz.timezone("Europe/Kiev")
print(f"kiev_tz.zone           :{kiev_tz.zone}")

dt = kiev_tz.localize(datetime.datetime(2014, 11, 2, 15, 25, 0))

fmt = "%Y-%m-%d %H:%M:%S %Z%z"
print(f"dt.strftime(fmt)       :{dt.strftime(fmt)}")

# Method 2
utc_dt = datetime.datetime(2014, 11, 2, 15, 25, 0, tzinfo=pytz.utc)
dt = utc_dt.astimezone(kiev_tz)
print(f"dt.strftime(fmt)       :{dt.strftime(fmt)}")

# Method 3
now = datetime.datetime.utcnow().replace(tzinfo=pytz.utc)
print(f"now.astimezone(kiev_tz):{now.astimezone(kiev_tz)}")

kiev_tz.zone           :Europe/Kiev
dt.strftime(fmt)       :2014-11-02 15:25:00 EET+0200
dt.strftime(fmt)       :2014-11-02 17:25:00 EET+0200
now.astimezone(kiev_tz):2023-05-20 20:30:55.123973+03:00

In [59]:
utc_now_1 = datetime.datetime.now(tz=pytz.UTC)
# utc_now_2 = datetime.datetime.utcnow(tz=pytz.UTC)  # utcnow doesnt accept any keywords

UTC_TZ = pytz.timezone("UTC")
naive_utc_now = datetime.datetime.utcnow()
utc_now_2 = UTC_TZ.localize(naive_utc_now)

In [60]:
utc_now_1

datetime.datetime(2023, 5, 20, 17, 30, 55, 268454, tzinfo=<UTC>)

In [61]:
utc_now_2

datetime.datetime(2023, 5, 20, 17, 30, 55, 268520, tzinfo=<UTC>)

In [62]:
assert utc_now_1 != utc_now_2

In [63]:
# zoneinfo module is new in python 3.9
# zoneinfo support the IANA time zone database

from zoneinfo import ZoneInfo

eastern = ZoneInfo("America/Los_Angeles")  # "US/Eastern")

In [64]:
winter_time = datetime.datetime(2022, 12, 1)
eastern.utcoffset(winter_time).total_seconds() / 3600

-8.0

In [65]:
summer_time = datetime.datetime(2022, 7, 1)
eastern.utcoffset(summer_time).total_seconds() / 3600

-7.0

In [66]:
dt = datetime.datetime(2020, 10, 31, 12, tzinfo=ZoneInfo("America/Los_Angeles"))
print(dt, dt.tzname())

2020-10-31 12:00:00-07:00 PDT

In [67]:
from datetime import timedelta

dt_add = dt + timedelta(days=1)

print(dt_add, dt_add.tzname())

2020-11-01 12:00:00-08:00 PST

__Problem:__ For a given date, tell the week of the day

In [68]:
local_now = datetime.datetime.now()

# weekday returns 0 (monday) through 6 (sunday)
wd = datetime.date.weekday(today)

# Days start at 0 for monday
days = ("monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday")
print(f"Today is day number {wd}")
print(f"which is a {days[wd]}")

Today is day number 5
which is a saturday

In [69]:
DAYS = ("monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday")


def get_week_of_day(given_date, date_frmt):
    date_obj = datetime.datetime.strptime(given_date, date_frmt)
    # print(date_obj)
    wd = datetime.date.weekday(date_obj)
    return f"week of day for {given_date} is {DAYS[wd]}"

In [70]:
get_week_of_day("23-03-1978", "%d-%m-%Y")

'week of day for 23-03-1978 is thursday'

In [71]:
get_week_of_day("11/09/1988", "%m/%d/%Y")

'week of day for 11/09/1988 is wednesday'

In [72]:
get_week_of_day("23 March 2020", "%d %B %Y")

'week of day for 23 March 2020 is monday'