```
Integer family
	int
	long  - python 2 only 
	float

	complex
	bool
    
Arithmetic operation operators:  + - * / // %
```
__NOTE:__ PEP 8 recommends to place one space around the operator

In [1]:
num1 = 10  # int

In [2]:
num1

10

In [3]:
print(num1)

10

In [4]:
print("num1=", num1)

num1= 10

In [11]:
type(num1)

int

In [5]:
num2 = 200  # int

In [6]:
print('num1=', num1, 'num2=', num2)

num1= 10 num2= 200

In [7]:
num1 + num2      # Addition

210

In [8]:
num1 - num2      # Subtraction

-190

In [9]:
num1 * num2      # Multiplication

2000

In [10]:
num1 / num2      # Division

0.05

__NOTE:__ Division will result in floating-point value everytime.

In [13]:
10/2

5.0

In [14]:
10/3

3.3333333333333335

#### Floor Division

In [15]:
10//2

5

In [16]:
10//3     # 3 < 3.3333 < 4

3

In [17]:
-10//3     # -4 < -3.3333 <  -3

-4

    >>> 13/2
    6
    >>> 13/2.0
    6.5
    >>> 13//2.0  # 6 < 6.5 < 7
    6.0
    >>> - 13//2.0 # -7 < -6.5 < -6
    -7.0
    >>> - 13/2.0  # true result
    -6.5
    >>> # -7 < -6.5 < -6

__NOTE:__ The max. integer that can be computed depends on the capability of the machine.

In [12]:
num3 = 344567890987654567890987655678909876523323213121321312321999999999999999999999994333333333333333333333
print(type(num3))

<class 'int'>

Numeric literals allow optional underscores to help improve readability.

In [51]:
speed_of_light = 299_792_458
print(speed_of_light, type(speed_of_light))

299792458 <class 'int'>

In [54]:
pi_value = 3.1415_9265_3546_793

print(pi_value, type(pi_value))

3.141592653546793 <class 'float'>

#### Modulo Operation  % - remainder

In [18]:
13 % 2

1

In [19]:
-13 % 2

1

In [20]:
13 % -2

-1

In [21]:
-13 % -2

-1

#### power operation **, pow

In [24]:
4 ** 2

16

In [25]:
64 ** (1 / 2)  # square root

8.0

In [26]:
64 ** 0.5

8.0

In [27]:
pow(4, 2)

16

In [28]:
pow(4, 2) == 4 ** 2

True

In [29]:
pow(64, 1 / 2) == 64 ** (1 / 2)

True

In [30]:
64 ** 0.5 == pow(64, 0.5)

True

In [31]:
pow(4, 2, 9) == (4**2) % 9

True

#### Exponent Notation

In [32]:
1e1

10.0

In [33]:
1 * 10.0 ** 1

10.0

In [34]:
3e2         # 3 * 10.0 ** 2

300.0

In [35]:
-2.3e4      # -2.3 * 10.0 ** 4

-23000.0

In [55]:
avogadro_num = 6.022_140_857E+23
print(avogadro_num, type(avogadro_num))

6.022140857e+23 <class 'float'>

In [1]:
speed_of_light = 3e8
print(speed_of_light)

300000000.0

### compound operators 
     += -= *= /= %=
     
     =  assignment operator

In [36]:
myNumber = 123
print('myNumber = ', myNumber)

myNumber =  123

In [37]:
myNumber = myNumber + 1
print('myNumber = ', myNumber)

myNumber =  124

In cases, where the same variable is present both the sides, then compound operations are valid.

In [38]:
myNumber += 1  # myNumber = myNumber + 1
print('myNumber = ', myNumber)

myNumber =  125

In [39]:
newNumber = 56
myNumber += newNumber + 1  # myNumber = myNumber + newNumber + 1
print('myNumber = ', myNumber)

myNumber =  182

In [40]:
myNumber -= 58  # myNumber = myNumber - 58
print('myNumber = ', myNumber)

myNumber =  124

In [41]:
myNumber *= 100  # myNumber = myNumber * 100
print('myNumber = ', myNumber)

myNumber =  12400

In [42]:
myNumber /= 10  # myNumber = myNumber / 10
print('myNumber = ', myNumber)

myNumber =  1240.0

In [43]:
myNumber %= 10  # myNumber = myNumber % 10
print('myNumber = ', myNumber)

myNumber =  0.0

__NOTE:__ python doesn't support unary operations ; ++i, i++, --i, i--. 
It should used as i += 1, i -=1

### Bitwise Operations

Binary representation
```
     13  1 1 0 1
      7  0 1 1 1
     15  1 1 1 1
```

In [44]:
myNewNumber = 4
myNewNumber = myNewNumber << 1
print(myNewNumber)

8

         8 4 2 1
     4   0 1 0 0  = 0 * 8 + 1 * 4 + 0 * 2 + 0 * 1 = 4
     <<  1 0 0 0  = 1 * 8 + 0 * 4 + 0 * 2 + 0 * 1  = 8

In [46]:
14 >> 1

7

 ```
        8 4 2 1
 14     1 1 1 0
 >>1    0 1 1 1
 >>2    0 0 1 1  = 0 * 8 + 0 * 4 + 1 * 2 + 1 * 1 = 3
```

In [47]:
14 >> 2

3

In [48]:
3 << 2

12

```
        8 4 2 1
 3      0 0 1 1
 <<2    1 1 0 0  =>  12

```

In [49]:
10 << 4

160

```
           128    64    32    16    8   4   2   1
 10                                 1   0   1   0
                               1    0   1   0          1st shift 
                         1     0    1   0              2nd shift
                   1     0     1    0                  3rd shift
           1       0     1     0                       4th shift
```

In [2]:
print('10 << 1', 10 << 1)
print('10 << 2', 10 << 2)
print('10 << 3', 10 << 3)
print('10 << 4', 10 << 4)

10 << 1 20
10 << 2 40
10 << 3 80
10 << 4 160